* {
    font-family: 'Playfair Display', serif;
    box-sizing: border-box;
}

*:focus {
    outline: none
}

html, body {
    font-size: 16px;
    overflow: hidden;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 18vh;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000;
    font-size: 4rem;
    color: #FFF;
    animation: header 1s;
}

p {
    text-align: center;
    margin: 0;
}

p:hover {
    cursor: pointer;
}

p:after{
    content: "";
    position: relative;
    left: 50%;
    width: 0;
    height: 2px;
    background: transparent;
    display: block;
    transition: width 500ms, left 500ms
}

p:hover:after {
    background: #000;
    left: 0;
    width: 100%
}

.header-section img {
    height: 85%;
    width: 6%;
    margin-right: 10px
}

svg:hover {
    cursor: pointer;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 12vh;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    color: #FFF;
    animation: footer 1s;
}

a {
    color: #FFF;
    text-decoration: none;
}

.header-section {
    display: flex;
    align-items: center;
    justify-content: right;
}

.settings {
    position: absolute;
    right: 5%;
    padding: 10px 30px;
    border-radius: 10px;
    background-color: #FFF;
    color: #000;
    font-size: 1.75rem;
    direction: rtl;
    visibility: hidden;
    direction: ltr; 
    overflow: hidden;
}

.hidden-settings {
    animation: hide 500ms forwards;
}

.visible-settings {
    animation: show 500ms forwards;
}

.selected {
    font-weight: bold;
}

.selected:hover:after{
    background: transparent
}

.visual {
    display: none;
    position: relative;
    top: 0;
    left: 0;
    z-index: 10;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: #f00
}
.key0{
    left: 13%;
    top: -20%;
    display: block;
    visibility: visible;
}
.key1{
    left: 19%;
    top: -50%;
    display: block;
    visibility: visible;
}
.key2{
    left: 23%;
    top: -20%;
    display: block;
    visibility: visible;
}
.key3{
    left: 29%;
    top: -50%;
    display: block;
    visibility: visible;
}
.key4{
    left: 33%;
    top: -20%;
    display: block;
    visibility: visible;
}
.key5{
    left: 43%;
    top: -20%;
    display: block;
    visibility: visible;
}
.key6{
    left: 49%;
    top: -50%;
    display: block;
    visibility: visible;
}
.key7{
    left: 53%;
    top: -20%;
    display: block;
    visibility: visible;
}
.key8{
    left: 59%;
    top: -50%;
    display: block;
    visibility: visible;
}
.key9{
    left: 63%;
    top: -20%;
    display: block;
    visibility: visible;
}
.key10{
    left: 69%;
    top: -50%;
    display: block;
    visibility: visible;
}
.key11{
    left: 73%;
    top: -20%;
    display: block;
    visibility: visible;
}
.key12{
    left: 83%;
    top: -20%;
    display: block;
    visibility: visible;
}
.replay {
    animation: replay 1s;
}

.option {
    background-color: #000;
    height: 45px;
    width: 300px;
    margin: 0 10px;
    border-radius: 50px;
    border: none;
    font-size: 2rem;
    color: #FFF;
    transition: padding-bottom 500ms;
}

.option:hover{
    cursor: pointer;
    padding-bottom: 10px
}

.option:nth-child(1) {
    animation: up 300ms backwards;
    animation-delay: 600ms
}

.option:nth-child(2) {
    animation: up 300ms backwards;
    animation-delay: 800ms;
}

.option:nth-child(3) {
    animation: up 300ms backwards;
    animation-delay: 1100ms;
}

#visual {
    position: absolute;
    top: 18vh;
    left: 0;
    width: 100vw;
    height: 57vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    animation: visual 1s backwards;
    animation-delay: 50ms;
}

#piano {
    min-width: 700px;
    width: 70vw;
    min-height: 270px;
    height: 47vh;
    margin-right: 10px
}

#piano img {
    position: relative;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
}

#answer {
    position: absolute;
    bottom: 13vh;
    left: 0;
    width: 100vw;
    height: 13vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes header {
    from {
        transform: translateY(-500px)
    }
    to {
        transform: translateY(0)
    }
}

@keyframes show {
    0% {
        max-width: 0%;
        max-height: 0%;
        color: #FFF;
        opacity: 0;
        visibility: visible;
    }
    25% {
        opacity: 1
    }
    50% {
        max-height: 100%;
        color: #FFF
    }
    100% {
        max-width: 100%;
        max-height: auto;
        color: #000;
        visibility: visible;
    }
}

@keyframes hide {
    0% {
        visibility: visible;
        max-width: 100%
    }
    50% {
        max-height: 100%;
        color: #FFF
    }
    75%{
        opacity: 1;
    }
    100% {
        visibility: hidden;
        color: #FFF;
        max-width: 0;
        max-height: 0;
        opacity: 0;
    }
}

@keyframes visual {
    from {
        transform: translateY(200px);
        opacity: 0
    } to {
        transform: translateY(0);
        opacity: 1
    }
}

@keyframes up {
    from {
        opacity: 0;
        transform: translateY(200px);
    } to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes replay {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(-360deg)
    }
}

@keyframes footer {
    from {
        transform: translateY(500px)
    }
    to {
        transform: translateY(0)
    }
}

@media screen and (max-width: 425px){
header{
    height: 12vh
}
.header-section img{
    width: 20%
}
.settings{
    border: 5px solid black;
    position: absolute;
    top: 13vh;
    left: 5vw;
    z-index: 10;
}
.option{
    width: 90vw;
    margin-bottom: 20px;
}
.visual{
    width: 7px;
    height: 7px;
}
#visual {
    top: 12vh;
    height: 44vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#piano {
    margin: 0;
    min-width: 0;
    width: 98vw;
    min-height: 0;
    height: 20vh;
}
#answer{
    flex-direction: column;
    bottom: 12vh;
    height: 30vh
}
@keyframes show {
    0% {
        max-height: 0%;
        color: #FFF;
        opacity: 0;
        visibility: visible;
    }
    25% {
        opacity: 1
    }
    50% {
        max-height: 100%;
        color: #FFF
    }
    100% {
        max-width: 100%;
        max-height: auto;
        color: #000;
        visibility: visible;
    }
}
@keyframes hide {
    0% {
        visibility: visible;
        max-width: 100%
    }
    50% {
        max-height: 100%;
        color: #FFF
    }
    75%{
        opacity: 1;
    }
    100% {
        visibility: hidden;
        color: #FFF;
        max-height: 0;
        opacity: 0;
    }
}
}